canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.rotate {
    animation: rotation 2s infinite linear;
}