div p span {
    color: #E0E0E0;
}

.hideButton {
    text-align: right;
}

.hiddenPost {
    display: none;
    margin: 0px;
    height: 0px;
}

.space {
    margin-top: 100px;
    margin-bottom: 100px;
}

.postUsername {
    padding: 3px;
    font-size: 12px;
    color: gray;
}

.replyButton {
    margin-top: 10px;
    text-decoration: underline;
}

.postBody {
    /* margin-top: 20px; */
    font-size: 15px;
    padding: 5px;
    white-space: pre-wrap;
}

.post {
    background-color: bisque;
    margin-bottom: 10px;
    white-space: pre-wrap;
    text-align: left;
    border-style: solid;
    border-color: gray;
}


.posts {
    border-style: solid;
    background-color: darkslategrey;
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.hideButton {
    margin-left: 5px;
}

.firstPostUsername {
    color: gray;
    font-size: 15px;
}

.firstSinglePost {
    padding: 5px;
    font-size: 20px;
}

.firstPost {
    background-color: #E0E0E0;
    border-style: solid;
    border-color: rgb(1, 102, 75);
    margin-bottom: 10px;
    white-space: pre-wrap;
    text-align: left;
    border-style: solid;
   
}