div p span {
    color: #E0E0E0;
}

.hideButton {
    text-align: right;
}

.hiddenPost {
    display: none;
    margin: 0px;
    height: 0px;
}

.space {
    margin-top: 100px;
    margin-bottom: 10px;
}

.postUsername {
    text-decoration: underline;
    padding: 3px;
}

.replyButton {
    margin-top: 10px;
    text-decoration: underline;
}

.postBody {
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
}

.post {
    /* margin-left: 10px; */
    background-color: bisque;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.posts {
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}